<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SOUNDSPHERE</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="playlist.css">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="logo">
        <a href="/">
          <img src="/assets/images/khopri.png" alt="Soundsphere Logo" style="width: 50px; height: auto;">
        </a>
      </div>
      <ul class="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contactus">Contact Us</a></li>
        <li><a href="/add-playlist">Add Playlist</a></li>
        <li><a href="/view-playlist">View Playlist</a></li>
        <li><a href="/login" class="login-signup-btn">LOGIN / SIGNUP</a></li>
      </ul>
    </nav>

  </header>