/* form styling */

form {
    width: 600px;
    max-width: 600px;
    margin-top: 20px;
    /* Limit the width of the form */
    margin-bottom: 100px;
    /* Center the form on the page */
    padding: 20px;
    background-color: #000000 !important;
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
}

label {
    display: block;
    /* Make labels block elements */
    margin-bottom: 5px;
    /* Space between label and input */
    font-weight: bold;
    /* Bold labels */
}

input[type="text"] {
    width: 100%;
    /* Full width inputs */
    padding: 10px;
    /* Padding inside inputs */
    margin-bottom: 15px;
    /* Space below inputs */
    border: 1px solid #ddd;
    /* Light border */
    border-radius: 4px;
    /* Rounded corners for inputs */
    box-sizing: border-box;
    /* Include padding in width */
}

button {
    background-color: #44060B;
    /* Green background */
    color: white;
    /* White text */
    padding: 10px 15px;
    /* Padding for the button */
    border: none;
    /* No border */
    border-radius: 4px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer cursor on hover */
    font-size: 16px;
    /* Font size */
}

button:hover {
    background-color: #2b0404;
    /* Darker green on hover */
}


.playlist-container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}