* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: “Arial”, sans-serif;
  background-color: #121212;
  color: #FFFFFF;
  line-height: 1.6;
}

.head {
  margin-top: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo a {
  font-size: 1.5rem;
  color: #780610;
  text-decoration: none;
  font-weight: bold;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-menu li {
  display: inline;
}

.nav-menu .login-signup-btn {
  color: white;
  font-size: 1rem;
  background-color: #48060a;
  border: none;
  padding: 10px 20px;
  border-radius: 35px;
}

.nav-menu a {
  color: #E0E0E0;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #780610;
}

/* header {
  background-image: url("assets/images/pooky.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/* header .header-content {
  padding-top: 120px;
} */

.header-content h1 {
  font-size: 4rem;
  color: #780610;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#features {
  padding: 50px 20px;
  background-color: #1E1E1E;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

#features h2 {
  font-size: 2.5rem;
  color: #B7B7B7;
  margin-bottom: 40px;
}

.features-grid {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.feature-item {
  background-color: #2C2C2C;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  transition: all ease-in-out 300ms;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #000000;
}

.feature-item:hover {
  transform: scale(1.05);
}

#team {
  padding: 50px 20px;
  background-color: #1E1E1E;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

#team h2 {
  font-size: 2.5rem;
  color: #B7B7B7;
  margin-bottom: 40px;
}

.team-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.team-member {
  background-color: #2C2C2C;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  transition: all ease-in-out 300ms;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #020000;
}

.team-member:hover {
  transform: scale(1.05);
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #2C2C2C;
  color: #fff;
  overflow: hidden;
}

.glass-box {
  position: relative;
  width: 90%;
  max-width: 1200px;
  padding: 2rem;
  backdrop-filter: blur(15px);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/images/smoke.jpg.jpg");
  background-size: cover;


  filter: brightness(0.5);
  z-index: -1;
}

.content {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.stat {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

.stat h2 {
  font-size: 2.5rem;
  color: #780610;
}

.stat p {
  font-size: 1rem;
  color: #ddd;
}

.continue-btn {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.continue-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

footer {
  background-color: #0E0E0E;
  padding: 70px 20px 20px 20px;
  color: #CFCFCF;
  font-family: “Verdana”, sans-serif;
  border-top: 1px solid #CFCFCF;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 150px;
}

.footer-item h3 {
  color: #780610;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-item p {
  margin: 5px 0;
  color: #CFCFCF;
}

.social-icon {
  text-decoration: none;
  color: #780610;
  margin-right: 5px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #780610;
}

.footer-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #48060A;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}

.footer-btn:hover {
  background-color: #646161;
  transform: scale(1.05);
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  opacity: 0.6;
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  color: #CFCFCF;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #780610;
}

.footer-bottom p {
  margin: 0;
}

body {
  margin: 0;
  font-family: “Arial”, sans-serif;
  background-color: #121212;
  color: #E0E0E0;
}

.hero {
  background-color: #0A0A0A;
  padding: 60px 20px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: #780610;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
}

.nav-menu li {
  display: inline;
  margin: 0 15px;
}

.nav-menu a {
  color: #E0E0E0;
  text-decoration: none;
}

.hero-content {
  margin-top: 40px;
}

.hero-content h1 {
  font-size: 3rem;
  color: #FFFFFF;
}

.hero-content p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.btn {
  background-color: #780610;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.about {
  padding: 40px;
  background-color: #1E1E1E;
  animation: fadeInUp 0.6s ease forwards;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.about-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.about-description {
  text-align: center;
  flex: 1;
}

.about-description p {
  color: #535353;
  font-size: 1.2rem;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 90px;
}

.about-description h1 {
  color: #B7B7B7;
  font-size: 2rem;
  font-weight: bold;
}

.about-img-wrapper {
  flex-shrink: 0;
}

.about-img {
  width: 370px;
  height: auto;
  max-height: 320px;
  border-radius: 10px;
  border: 2px solid #211F1F;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.about-img-wrapper {
  position: relative;
}

.about-img::before {
  content: “”;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.2);
  filter: blur(20px);
  z-index: -1;
}

.why-choose-us {
  background-color: #1E1E1E;
  padding: 60px 40px;
  text-align: center;
  padding-bottom: 100px;
}

.why-choose-us h2 {
  color: #B7B7B7;
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: bold;
  padding-bottom: 50px;
}

.choose-us-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.choose-us-item {
  background-color: #2C2C2C;
  padding: 30px;
  border-radius: 10px;
  width: 250px;
  transition: all ease-in-out 300ms;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
  border: 1px solid #000000;
}

.choose-us-item:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}

.choose-us-item h3 {
  color: #FFFFFF;
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-weight: 600;
}

.choose-us-item p {
  color: #D0D0D0;
  font-size: 1rem;
  line-height: 1.6;
}

#services {
  background-color: #1E1E1E;
  padding: 60px 30px;
  text-align: center;
  animation: fadeInUp 0.6s ease forwards;


  h1 {
    margin-bottom: 40px;
    color: #B7B7B7;
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.services-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  flex: 2;
}

@media (min-width: 768px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.service-item {
  background-color: #2C2C2C;
  padding: 25px;
  border-radius: 10px;
  transition: all ease-in-out 300ms;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  border: 1px solid #000000;
}

.service-item:hover {
  transform: scale(1.05);
}

.service-item h3 {
  color: #FFFFFF;
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.service-item p {
  font-size: 1rem;
  color: #E0E0E0;
  line-height: 1.6;
}

#feedback {
  background-color: #1E1E1E;
  padding: 10px 20px 60px 60px;
  text-align: center;
}

.feedback-container {
  max-width: 600px;
  margin: 0 auto;
}

#feedback h2 {
  color: #FFFFFF;
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

#feedback p {
  color: #E0E0E0;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  background-color: #2C2C2C;
  color: #E0E0E0;
  border: 1px solid #444;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #780610;
}

.feedback-btn {
  font-size: 18px;
  margin-top: 20px;
  padding: 18px 27px;
  background-color: #44060B;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-btn:hover {
  background-color: #646363;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .feedback-container {
    padding: 0 10px;
  }
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-image: url(“assets/images/backypic.jpeg”);
  background-repeat: none;
  background-size: cover;
}

.container {
  display: flex;
  width: 100%;
  max-width: 320px;
  background: #111;
  color: #fff;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
}

.form-panel {
  min-width: 100%;
  padding: 20px;
  transition: transform 0.6s ease-in-out;
  background-size: cover;
}

.login-panel,
.signup-panel {
  background: rgba(63, 60, 60, 0.8);
}

.signup-panel {
  transform: translateX(100%);
}

.show-signup .signup-panel {
  transform: translateX(-100%);
}

.show-signup .login-panel {
  transform: translateX(-100%);
}

button {
  background: #5A0808;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #555;
  background: #222;
  color: #fff;
  box-sizing: border-box;
}


/* header {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

header {
  padding-top: 120px;
}

.header-content h1 {
  font-size: 4rem;
  color: #780610;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.pricing-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;

}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

}

.card-container {
  display: flex;
  gap: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #020000;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(255, 255, 255, 0.15);

  border-radius: 15px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  padding: 30px;
  width: 350px;
  margin: 30px 20px 30px 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #020000;
  opacity: 0;
  animation: fadeInUp 0.6s ease forwards;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);

}

.card h2 {
  margin-bottom: 10px;
  font-size: 1.8em;
  color: #fff;
}

.card .price {
  font-size: 1.5em;
  margin: 15px 0;
  color: #008b00;
  font-weight: bold;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card ul li {
  position: relative;
  padding-right: 25px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1em;
}

.card ul li::before {
  content: "✔️";
  position: absolute;
  right: 0;
  color: #008b00;
  font-size: 1em;
}

.card button {
  background: #48060A;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.card button:hover {
  background: #717171;
  transform: scale(1.1);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);

  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

#genre {
  padding: 50px 20px;
  background-color: #1E1E1E;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  animation: fadeInUp 0.6s ease forwards;
}

#genre h5 {
  font-size: 1.5rem;
  color: #B7B7B7;
  margin-bottom: 40px;
}

.genre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}

.genre-grid {
  justify-content: center;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.genre-member {
  background-color: #48060A;
  border-radius: 10px 10px 10px 10px;
  width: 350px;
  transition: transform 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #020000;
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 300ms;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom: 2px solid white;
}

.genre-member:hover {
  transform: scale(1.05);
}

.genre-member img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: 250px;
  object-fit: cover;
  display: block;
}

.genre-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.genre-description h3 {
  color: #FFFFFF;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.genre-description p {
  color: #B7B7B7;
  font-size: 1rem;
  line-height: 1.6;
}

.genre-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding: 40px;
  margin: 20px auto;
  margin-top: 150px;
  border-radius: 10px;
  max-width: 1200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.genre-section .content {
  flex: 1;
  padding-right: 20px;
}

.genre-section .content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #e6e6e6;
}

.genre-section .content p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #e6e6e6;
}

.genre-section .image {
  flex: 1;
  text-align: right;
}

.genre-section .image img {
  max-width: 100%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.contact-us h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  margin-top: 120px;
  color: #ffffff;
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.contact-box {
  background-color: #2f2f2f;
  color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  width: 400px;
  margin-bottom: 100px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 300ms;
  transition: transform 0.2s;
  transition: all ease-in-out 300ms;
}

.contact-box:hover {
  transform: scale(1.05);
}

.contact-box h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.contact-box p {
  font-size: 0.95rem;
  margin: 0.5rem 0;
}

.contact-box a {
  color: #4caf50;
  text-decoration: none;
}

.contact-box a:hover {
  text-decoration: underline;
}

.contact-box ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  text-align: left;
}

.contact-box ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.contact-box ul li::before {
  content: "✔";
  color: #4caf50;
  font-weight: bold;
}

.contact-box .price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4caf50;
}

.contact-box button {
  background-color: #800000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
}

.contact-box button:hover {
  background-color: #a00000;
}



.hero-section {
  background-image: url("assets/images/pooky.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.hero-section h1 {
  font-size: 4rem;
  color: #780610;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-section p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}






/* form styling */

form {
  width: 600px;
  max-width: 600px;
  /* Limit the width of the form */
  margin: 20px auto;
  /* Center the form on the page */
  padding: 20px;
  background-color: #000000 !important;
  border-radius: 8px;
  /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
}

label {
  display: block;
  /* Make labels block elements */
  margin-bottom: 5px;
  /* Space between label and input */
  font-weight: bold;
  /* Bold labels */
}

input[type="text"] {
  width: 100%;
  /* Full width inputs */
  padding: 10px;
  /* Padding inside inputs */
  margin-bottom: 15px;
  /* Space below inputs */
  border: 1px solid #ddd;
  /* Light border */
  border-radius: 4px;
  /* Rounded corners for inputs */
  box-sizing: border-box;
  /* Include padding in width */
}

button {
  background-color: #4CAF50;
  /* Green background */
  color: white;
  /* White text */
  padding: 10px 15px;
  /* Padding for the button */
  border: none;
  /* No border */
  border-radius: 4px;
  /* Rounded corners */
  cursor: pointer;
  /* Pointer cursor on hover */
  font-size: 16px;
  /* Font size */
}

button:hover {
  background-color: #45a049;
  /* Darker green on hover */
}


table {
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* border-radius: 8px; */
  overflow: hidden;
}

th,
td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #48060a;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* tr:nth-child(even) {
  background-color: #4b4b4b;
}

tr:hover {
  background-color: #f1f1f1;
} */

td {
  transition: background-color 0.3s;

  a {
    text-decoration: none;
  }

  .view-playlist {
    color: #fdfdfd;

  }

  .edit-playlist {
    color: #cebc1e;
  }

  .delete-playlist {
    color: #ce1e2d;
  }

}

.playlist-container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-card {
  background: black !important;

}

.info-row {
  label {
    color: #9e0b15 !important;
  }

  span {
    color: #fff !important;
  }
}